<<<<<<< HEAD
.body{
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #434343;
    line-height: inherit;
    word-break: break-all;
=======
body {
    font-family: Arial, sans-serif;
}
.searchResults{
    display: flex;
    line-height: 36px;
    font-size: 28px;
    font-weight: 700;
    color: #434343;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
>>>>>>> 3a8f886cebf737bf238d012538043449b7c7d087
}