.body{
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #434343;
    line-height: inherit;
    word-break: break-all;
}
.searchResults{
    display: flex;
    line-height: 36px;
    font-size: 28px;
    font-weight: 700;
    color: #434343;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}